@model WUI.Models.PointModel
@{
    ViewBag.Title = "Ajouter les points d'une course";
}
@section AdditionalMeta
{
    @Styles.Render("~/Content/Home.css")
}

<div class="row">
    <div class="text-center col-md-12 offset-md-">

        <div class="jumbotron jumbotron-fluid">
            <div class="headerJumbotron">
                <h3>Ajout de points pour la course</h3>
            </div>

            @using (Html.BeginForm(new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="container">
                    <table class="table">
                        <thead class="thead-inverse">
                            <tr>
                                <th>#</th>
                                <th>Latitude</th>
                                <th>Longitude</th>
                                <th>Altitude</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var item in Model)
                            {
                                <tr>
                                    <td>@Model.Id</td>
                                    <td>@Model.GpsCoordinates.Latitude</td>
                                    <td>@Model.GpsCoordinates.Longitude</td>
                                    <td>@Model.GpsCoordinates.Altitude</td>
                                    <td></td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <div class="form-group">
                        <div class="row new_form">
                            <div class="col-3">
                                @Html.LabelFor(m => m.GpsCoordinates.Latitude)
                                @Html.TextBoxFor(m => m.GpsCoordinates.Latitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GpsCoordinates.Latitude)
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(m => m.GpsCoordinates.Longitude)
                                @Html.TextBoxFor(m => m.GpsCoordinates.Longitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GpsCoordinates.Longitude)
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(m => m.GpsCoordinates.Altitude)
                                @Html.TextBoxFor(m => m.GpsCoordinates.Altitude, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.GpsCoordinates.Altitude)
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-default add" value="Ajouter">Ajouter le point</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

@section scripts {
}