@model WUI.Models.RaceModel
@{
    ViewBag.Title = "Création d'une course";
}

<div class="row">
    <div class="text-center col-md-9 offset-md-4">

        <div class="jumbotron jumbotron-fluid">
            <div class="headerJumbotron">
                <h3>Création d'une nouvelle course</h3>
            </div>

            @using (Html.BeginForm()) {
                <div class="container">


                    <div class="form-group">
                        <div class="row">
                            <div class="col-3">
                                @Html.LabelFor(m => m.Title)
                                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Saisissez un titre de course" })
                                @Html.ValidationMessageFor(m => m.Title)
                            </div>

                            <div class="col-3">
                                @Html.LabelFor(m => m.DateStart)
                                @Html.TextBoxFor(m => m.DateStart, new { type = "date", @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.DateStart)
                            </div>

                            <div class="col-3">
                                @Html.LabelFor(m => m.DateEnd)
                                @Html.TextBoxFor(m => m.DateEnd, new { type = "date", @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.DateEnd)
                            </div>
                            <div class="col-3">
                                @Html.LabelFor(m => m.Town)
                                @Html.TextBoxFor(m => m.Town, new {  @class = "form-control"})
                                @Html.ValidationMessageFor(m => m.Town)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-2">
                                @Html.LabelFor(m => m.Description)
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Description)
                            </div>
                            <div class="col-3">
                                <button type="submit" class="btn btn-outline-primary align-middle" id="searchButton"> <i class="material-icons">search</i> Valider</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

    </div>
</div>

