@model WUI.Models.RaceModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="row adminContent">
    <div class="col-lg-12">
        <div class="entete">
            <h3 class="titlePage">Edition de la course n°@Model.Id</h3>
            <div class="button-group pull-right">
                <a href="#" class="btn btn-primary withIcon" data-toggle="modal" data-target="#modalResultat"><i class="material-icons">list</i> Résultat </a>
                <a href="#" class="btn btn-primary withIcon" data-toggle="modal" data-target="#modalParticipant"> <i class="material-icons">group</i> Participants </a>
                <a href="#" class="btn btn-success withIcon" data-toggle="modal" data-target="#listePoints"> <i class="material-icons">edit_location</i> Itinéraire </a>
            </div>           
         </div>
         <hr />
        <div class="card">
            <div class="card-header">
                Organisateurs
            </div>
            <div class="card-block">
                @if (Model.Organisers != null)
                {
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nom complet</th>
                            <th>Email</th>
                            <th>Téléphone</th>
                        </tr>
                    </thead>
                    <tbody>
                           @foreach (var item in Model.Organisers)
                            {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Nom @item.Prenom</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                            </tr>
                            }
                    </tbody>
                </table>
                } else
                {
                    <div class="alert alert-info">
                        Pas d'organisateur
                    </div>
                }

            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">
                Informations Générales
            </div>
            <div class="card-block">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)


                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(m => m.Title)
                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Saisissez un titre de course" })
                        @Html.ValidationMessageFor(m => m.Title)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Town)
                        @Html.TextBoxFor(m => m.Town, new { @class = "form-control", placeholder = "Saisissez La ville de la course" })
                        @Html.ValidationMessageFor(m => m.Town)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateStart)
                        @Html.TextBoxFor(m => m.DateStart, new { @type = "date", @Value = Model.DateStart.ToString("yyyy-MM-dd"), @class="form-control" })
                        @Html.ValidationMessageFor(m => m.DateStart)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.DateEnd)
                        @Html.TextBoxFor(m => m.DateEnd, new { @type = "date", @Value = Model.DateEnd.ToString("yyyy-MM-dd"), @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.DateEnd)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Description)
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Description)
                    </div>
                    <button type="submit" class="btn btn-success " id="searchButton"> Valider </button>
                    @Html.ActionLink("Retour à la liste", "Index", null, new { @class = "btn btn-primary" })
                }
            </div>
         </div>  
    </div>
</div>

<!-- Modal Participant-->
<div class="modal fade" id="modalParticipant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Participant à la course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (Model.Competitors != null)
                {
                    <table class="table table-responsive">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom complet</th>
                                <th>Date de naissance</th>
                                <th>Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Competitors)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Nom @item.Prenom</td>
                                    <td>@item.DateNaissance</td>
                                    <td>@item.Email</td>
                                    <td><a href="#" class="btn btn-danger">Désinscrire</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                } else
                {
                    <div class="alert alert-info">
                        Aucun participant à cette course 
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

<!-- Modal Resultaat-->
<div class="modal fade" id="modalResultat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Résultat de la course</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Dossard</th>
                            <th>Courreurs</th>
                            <th>Rang</th>
                            <th>Temps</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1511</td>
                            <td>Usain Bolt</td>
                            <td>1</td>
                            <td>3h 04m 35s</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Zizou</td>
                            <td>2</td>
                            <td>3h 35m 35s</td>
                        </tr>
                        <tr>
                            <td>878</td>
                            <td>Moi même</td>
                            <td>3</td>
                            <td>5h 04m 35s</td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

<!-- Modal liste points-->
<div class="modal fade" id="listePoints" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Liste des points</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div id="map" style="height:500px;width:100%;"></div>
                    </div>
                    <div class="col-lg-12">
                        @using (Html.BeginForm("AddPoint", "Race", FormMethod.Post, new { id = "formID" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Altitude</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody">
                                    @foreach (var item in Model.Points)
                                    {
                                        <tr>
                                            <td>@item.Id</td>
                                            <td>@item.Latitude</td>
                                            <td>@item.Longitude</td>
                                            <td>@item.Altitude</td>
                                            <td><a href="@Url.Action("DeletePoint", new { id = @item.Id, idRace = @Model.Id })" class="btn btn-danger delete">Supprimer</a></td>
                                        </tr>
                                    }
                                </tbody>

                            </table>

                            <div class="form-group">
                                <div class="row new_form">
                                    <div class="col-3">
                                        @Html.LabelFor(m => m.point.Latitude)
                                        @Html.TextBoxFor(m => m.point.Latitude, new { @class = "form-control", id = "latitude" })
                                        @Html.ValidationMessageFor(m => m.point.Latitude)
                                    </div>
                                    <div class="col-3">
                                        @Html.LabelFor(m => m.point.Longitude)
                                        @Html.TextBoxFor(m => m.point.Longitude, new { @class = "form-control", id = "longitude" })
                                        @Html.ValidationMessageFor(m => m.point.Longitude)
                                    </div>
                                    <div class="col-3">
                                        <label for="POIs">Point d'intêret ?</label>
                                        <input type="checkbox" id="POIs" class="form-control" />
                                    </div>
                                    @Html.TextBoxFor(m => m.Id, new { type = "hidden", })
                                    <div class="col-3">
                                        <button type="submit" class="btn btn-default add" name="add" style="margin-top:17%;" value="Ajouter">Ajouter le point</button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group poi_info" style="display: none;">
                                <div class="row">
                                    <div class="col-5">
                                        <label for="poi_Title">Titre</label>
                                        @Html.TextBoxFor(m => m.poi.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.poi.Title)
                                    </div>
                                    <div class="col-5">
                                        <label for="poi_Title">Catégorie</label>
                                        
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


@section scripts {  


    <script>
        var markers = [] ;
        var map ;

        function initMap(newPoints) {
         
            if(typeof newPoints !== 'undefined'){
                var points = newPoints
            } else {
                var points = @(new HtmlString(Json.Encode(Model.Points)));
            }
            console.log("init")
            var myLatLng = { lat: 47.2262079, lng: -1.6202498 };

            console.log(markers);
            // Create a map object and specify the DOM element for display.
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: myLatLng
            });

            for(var i = 0 ; i < points.length ; i ++){
                    addMarker(points[i].Latitude,points[i].Longitude)
            }

            google.maps.event.addListener(map, "click", function (e) {
                var marker_man = new google.maps.Marker({
                    position: e.latLng,
                    map: map
                });
                console.log(e);
                var latitude = e.latLng.lat().toString();
                var longitude = e.latLng.lng().toString();
                $("#latitude").val(latitude.replace(".",","));
                $("#longitude").val(longitude.replace(".",","));
            });
        }

        function addMarker(lat, long) {
            var marker = new google.maps.Marker({
                position: {lat: lat, lng: long},
                map: map
            });
            markers.push(marker)
        }

        $(function () {

            $("#POIs").on("click", function(){
                $(".poi_info").toggle();
            });

            $('#listePoints').on('shown.bs.modal', function (e) {
                console.log("listPoints show")
                google.maps.event.trigger(map, "resize");
            });


                 $("#formID").submit(function (e) {
                     console.log("toto");
                     e.preventDefault();
                     var dataToSend = $('#formID').serialize();
                     var MyUrl = {
                         MyUseFulUrl: '@Url.Action("AddPoint", "Race")'
                 };
                 $.ajax({
                     type: "POST",
                     url: MyUrl.MyUseFulUrl,
                     data: dataToSend,
                     success: function (data) {
                         console.log(data);
                         var point = data.Points[data.Points.length - 1];
                         var url = '@Url.Action("DeletePoint", new { id = "__param1__", idRace = "__param2__" })';
                         var url1 = url.replace("__param1__", encodeURIComponent(point.Id));
                         var url2 = url1.replace("__param2__", encodeURIComponent(data.Id));

                         var html = '<tr>';
                         html += '<td>' + point.Id + '</td>';
                         html += '<td>' + point.Latitude + '</td>';
                         html += '<td>' + point.Longitude + '</td>';
                         html += '<td>' + point.Altitude + '</td>';
                         html += "<td><a href='" + url2 + "' class='btn btn-danger delete'>Supprimer</a></td>"
                         html += '</tr>';
                         $('#tbody').append(html);
                         addMarker(point.Latitude, point.Longitude)
                     }

                 })
             });

             $("#formID").on("click", ".delete", function (e) {
                 console.log("toto");
                 e.preventDefault();
                 var url = $(this).attr('href');
                 var $self = $(this);
                 $.ajax({
                     type: "GET",
                     url: url,
                     success: function () {
                         $self.parent().parent().remove();
                         initMap();
                     }
                 })
             });


         });

     </script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIyk34t3LjsAXYoq912qTIQoBz1QWfNp0&callback=initMap"
        async defer>

</script>
}