
@using PagedList.Mvc
@model PagedList.IPagedList<WUI.Models.ResultatModel>

@{
    ViewBag.Title = "Import";
}

<h2>Données sauvegardées</h2>

<div class="row adminContent">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="titlePage">Liste des utilisateurs</h3>
            </div>
            <div class="col-lg-8 offset-lg-4">
                <hr />
            </div>
            <div class="col-lg-2">
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
            <div class="col-lg-10">
                <nav class="pull-right">
                    @Html.PagedListPager(Model, page => Url.Action("Import",
                    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
                </nav>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>Participant</th>
                        <th>Course</th>
                        <th>Classement</th>
                        <th>Temps de course</th>
                        <th>Heure Depart</th>
                        <th>Heure arrivée</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Personne.Nom @item.Personne.Prenom
                            </td>
                            <td>
                                @item.Race.Title @item.Race.Town
                            </td>
                            <td>
                                @item.Classement
                            </td>
                            <td>
                                @item.TempsDeCourse
                            </td>
                            <td>
                                @item.HeureDebut
                            </td>
                            <td>
                                @item.HeureArrivee
                            </td>

                        </tr>


                    }
                </tbody>
            </table>
