@{
    ViewBag.Title = "Statistiques";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="row adminContent">
    <div class="col-lg-6">


        <div id="container"></div>
    </div>
    <div class="col-lg-6">


        <div id="container2"></div>
    </div>
    <br />
</div>

@section scripts {
    <script>
        var villes = @(new HtmlString(Json.Encode(ViewBag.villes)));
        var nbParticipants = @(new HtmlString(Json.Encode(ViewBag.nbParticipants)));
        var tranches = @(new HtmlString(Json.Encode(ViewBag.tranches)));
        var nbParTranche = @(new HtmlString(Json.Encode(ViewBag.totalByAge)));

    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @Scripts.Render("~/Scripts/stats.js")    


}
