@{
    ViewBag.Title = "Statistiques";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="row adminContent">
    <div class="col-lg-6">


        <div id="container"></div>
    </div>
    <div class="col-lg-6">


        <div id="container2"></div>
    </div>
</div>

<div class="row adminContent">
    <div class="col-lg-6">


        <div id="Course"></div>
    </div>
    @*<div class="col-lg-6">


        <div id="container2"></div>
    </div*@>
</div>
@section scripts {
    <script>
        var villes = @(new HtmlString(Json.Encode(ViewBag.villes)));
        var nbParticipants = @(new HtmlString(Json.Encode(ViewBag.nbParticipants)));
        var ResultatParticipant = @(new HtmlString(Json.Encode(ViewBag.TempsCourseNantes)));
        var IdParticipant = @(new HtmlString(Json.Encode(ViewBag.idParticipant)));

    </script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    @Scripts.Render("~/Scripts/stats.js")    


}
