@using WUI.Models
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>WebSport | @ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
              rel="stylesheet">
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/Bootstrap/bootstrap.min.css")
        @RenderSection("AdditionalMeta", false)

        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.6/select2-bootstrap.css" rel="stylesheet"/>

        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.css">

    </head>
    <body>
    <header>
       @{
           PersonneModel user = (PersonneModel) Session.Contents["user"];
           if (user == null || user.Role == 1)
           {
               @Html.Partial("_Menu")
           }
           else
           {
               @Html.Partial("_MenuUser")
           }
    }
       
    </header>
        <div class="container container-table">
                @RenderBody()
        </div>

    <script src="https://cdn.jsdelivr.net/sweetalert2/6.4.4/sweetalert2.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
        @Scripts.Render("~/Scripts/jquery-1.10.2.js")
        @Scripts.Render("~/Scripts/Bootstrap/bootstrap.js")
        @RenderSection("scripts", false)
    </body>
</html>
